/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@200..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*When setting height/width to an element, it will be applied to the entire element including the border*/
}

/* General styles */
body {
  min-height: 100vh; /* Using min-height will allow the body to stretch larger than the height of the screen when there is enough content on the page that the user needs to scroll.*/
  display: flex;
  flex-direction: column; /* Make sure our elements will still show underneath each other */
  /* Generic project styles */
  color: #3a3a3a;
  font-family: "Lato", sans-serif; /*sans-serif is fallback font*/
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem; /*to prevent text from sticking to the side of the screen */
  position: fixed; /*should stay at the top when scrolling*/
  z-index: 99; /* making sure its layered on top of all other elements*/
  width: 100%; /* make sure it fills the width of the screen*/
  box-shadow: 0 2px 2px #3a3a3a ; /*horizontal offset, vertical offset, blur, color -> shadow makes the box appear slightly elevated*/
  display: flex; /*make sure Logo and checkbox are in a row instead of underneath each other*/
  justify-content: space-between;
  align-items: baseline; /* vertical alignment*/
}

header a {
    text-decoration: none; /*no underline for links inside the header*/
    color: inherit; /*inherit link color from the body*/
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em; /*have more space between the list items*/
}

/* class to indicate when you are active on a particular page of the navbar*/
.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute; /*"absolute" takes the element out of the normal flow of the page*/
    background-color: #ffffff; /* reset background color to the header backgrond color, because of the absolute position, the navbar isn't shown in the header element anymore*/
    padding: 0 1rem;
    width: 100%;
    left: 0; /*align directly to the left of the screen*/
    box-shadow: 0 2px 2px #3a3a3a ;
    display: none; /* navbar items are hidden until user clicks to open them*/
    top: 100%; /* top of the element should start at the bottom of its parent (0% represents the top of the parent)*/
}

/* Nav toggle */
#nav-toggle:checked~nav { /* When the checkbox is checked we want the sibling nav element to display*/
    display: block;
}

#nav-toggle {
    display: none; /*hide checkbox*/
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
  /* Make main element take up any surplus space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px; /*because headers position has been set to fixed it's hiding a part of the main, so it has to be pushed down*/
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    /* image does not repeat, horizontally and vertically centred, automatically size itself so it covers the entire
hero section without distorting.*/
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Last rgbs value sets the opacity so it is semi transparent*/
    background-color: rgba(241, 109, 107, 0.7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%; 
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

/* Reasons section */
#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    font-size: 280%;
    text-align: center;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits-physical > div, #benefits-mental > div {
    margin-bottom: 20px;
    line-height: 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") no-repeat top center/cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Make the image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Meetup times section */
#times {
    background: url("../images/dublin-city.webp") no-repeat center/cover;
    display: flex;
    flex-wrap: wrap;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    text-align: center;
    /* This will prevent wrapping on screens of less than 400px.
    Each div will expand to fill the available space on this row.*/
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image*/
    border: 2px solid white;
}

/* Override the heading colour set in general styles */
#times h3 {
    color: #fafafa;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex; 
    justify-content: space-evenly; /*spread icons evenly around the footer*/
    list-style-type: none;
}

/* Style icons */
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    /* Header */
    nav {
        display: block; /* navbar should always be displayed */
        position: relative; /* position inside the header */
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex; /* show list items next to each other*/
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none; /* dont show the label anymore*/
    }

    /* Take up more space with the logo */
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /*Push main content down to accomodate larger header */
        margin-top: 79px;
    }

    /* Hero image */
    #cover-text {
        width: 300px;
        right: 50px;
    }

    /* Reasons section */
    #benefits-physical,
    #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #benefits-physical > div,
    #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental > div {
        text-align: end;
        align-self: flex-end;
    }
}

/* Media query: laptops and larger (992px and up) */
@media screen and (min-width: 992px){
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

/* Media query: large screens (1200px and up) */
@media screen and (min-width: 1200px){
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1; 
    }

    #benefits-image {
        order: 0;
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }
}